main{
    flex-direction: column-reverse;
    justify-content: center;
    gap: var(--spacing-md);
}
/* Register form */
.input-fullname-container{
    display: flex;
    gap: var(--spacing-xs);
    width: 100%;
}
.input-fullname-container .input-container{
    width: calc((50%) - (var(--spacing-xs)/2));
}
input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0; /* Hide the default icon */
}
#profile-pic-btn{
    display: block;
}
#experience-btn,
#competence-btn,
#formation-btn,
#profile-pic-btn,
#justifier-experience-btn,
#justifier-formation-btn,
#justifier-competence-btn{
    background-color: var(--color-primary);
    width: 100%;
}
#experience-btn:hover,
#experience-btn:focus-visible,
#competence-btn:hover,
#competence-btn:focus-visible,
#formation-btn:hover,
#formation-btn:focus-visible,
#profile-pic-btn,
#profile-pic-btn,
#justifier-experience-btn:hover,
#justifier-experience-btn:focus-visible,
#justifier-formation-btn:hover,
#justifier-formation-btn:focus-visible,
#justifier-competence-btn:hover,
#justifier-competence-btn:focus-visible{
    background-color: var(--color-primary-light);
}
#no-experience,
#no-formation,
#no-competence{
    display: block;
    padding: var(--spacing-xs) var(--spacing-md) 0 var(--spacing-md);
}
.experience,
.formation,
.competence{
    padding: var(--spacing-xs) var(--spacing-md) 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
}
#justifier-experience-input,
#profile-pic-input,
.justifier-experience-input,
#justifier-formation-input,
.justifier-formation-input,
#justifier-competence-input,
.justifier-competence-input{
    display: none;
}
.profile-pic-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    justify-content: center;
    align-items: center;
}
.profile-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
/* Popups for 3th step*/
.register-popup{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background-transparent);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: var(--spacing-md);
    gap: var(--spacing-md);
    display: none;
}
.popup-heading{
    font-size: 1.5rem;
}
.close-popup{
    color: var(--color-danger);
    cursor: pointer;
    align-self: flex-end;
    font-size: 2rem;
}
.justifier-experience-existante,
.justifier-formation-existante,
.justifier-competence-existante,
.not-justified{
    color: var(--color-primary);
}
.justifier-experience-existante,
.justifier-formation-existante,
.justifier-competence-existante{
    text-decoration: underline;
    cursor: pointer;
}
.etat-experience-container,
.etat-formation-container,
.etat-competence-container{
    display: flex;
    justify-content: space-between;
}
.experience-overview,
.formation-overview,
.competence-overview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-experience,
.delete-formation,
.delete-competence{
    color: var(--color-danger);
    cursor: pointer;
}
.justified{
    color: var(--color-secondary);
}
/* Register steps */
.not-member-container{
    gap: var(--spacing-xs);
}
.register-steps{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.step{
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    z-index: 10;
}
.current-step{
    background-color: var(--color-primary);
}
.not-passed-step{
    background-color: var(--color-gray);
}
.passed-step{
    background-color: var(--color-secondary);
    color: var(--color-background);
}
.pipe{
    height: 0.8rem;
    position: absolute;
    width: 33%;
    top: calc((70px / 2) - (0.8rem / 2));
}
.not-passed-pipe{
    background-color: var(--color-gray);
}
.passed-pipe{
    background-color: var(--color-secondary);
}
.pipe2-3{
    left: 30%;
}
.pipe3-4{
    left: 60%;
}

@media screen and (max-width: 620px){
    .confirm-password-container label{
        width: 195px;
    }
    .step{
        font-size: 1.5rem;
        height: 50px;
        width: 50px;
    }
    .pipe{
        height: 0.5rem;
        top: calc((50px / 2) - (0.5rem / 2));
    }
    .input-fullname-container{
        flex-direction: column;
        gap: var(--spacing-md);
    }
    .input-fullname-container .input-container{
        width: 100%;
    }
}